<script setup>
import ErrorIcon from './icons/IconError.vue';
import { ref } from 'vue';
import { ErrorMessage, Field, Form as VeeForm } from 'vee-validate';
import * as Yup from 'yup';

const formFields = ref([
  {
    name: 'first_name',
    type: 'text',
    placeholder: 'First Name',
    rules: Yup.string().required('First Name cannot be empty')
  },
  {
    name: 'last_name',
    type: 'text',
    placeholder: 'Last Name',
    rules: Yup.string().required('Last Name cannot be empty')
  },
  {
    name: 'email',
    type: 'email',
    placeholder: 'Email Address',
    rules: Yup.string().required('Email cannot be empty').email('Please provide a valid email')
  },
  {
    name: 'password',
    type: 'password',
    placeholder: 'Password',
    rules: Yup.string()
      .required('Password Cannont be empty')
      .min(6, 'Password must be at least 6 characters')
      .max(11, 'Password should not exceed 11 characters')
  }
])
</script>
<template>
  <div class="card w-full h-full">
    <div class="flex flex-col text-center md:flex-row md:justify-around md:gap-8">
      <div class="mt-[70px] text-white md:mt-[250px] md:w-[525px] md:text-left">
        <h3 class="w-[327px] text-[28px] font-bold md:text-[50px] md:w-[525px]">Learn to code by watching others</h3>
        <p class="mt-4">
          See how experienced developers solve problems in real-time. Watching scripted tutorials is
          great, but understanding how developers think is invaluable.
        </p>
      </div>
      <div class="mt-16 flex flex-col gap-y-10 md:w-[540px]">
        <div
          class="h-[88px] bg-blue rounded-[10px] flex justify-center items-center info"
        >
          <h4 cy-data="mid-text" class="w-[194px] text-base text-white font-bold">
            Try it free 7 days <span class="font-normal"> then $20/mo. thereafter</span>
          </h4>
        </div>
        <div class="min-h-[442px] h-full bg-white rounded-[10px] p-6 flex flex-col info">
          <VeeForm v-slot="{ errors }" class="flex flex-col gap-y-4">
            <div v-for="(field, index) in formFields" :key="index" class="flex flex-col">
              <div class="flex relative h-14 p-5 items-center justify-between border border-[#DEDEDE] rounded-[5px] caret-blue focus:outline-none focus:ring focus:ring-blue "
              :class="{ 'border-red': errors.name }">
              <Field
                :id="field.name"
                :type="field.type"
                :name="field.name"
                :rules="field.rules"
                :placeholder="field.placeholder"
                class="w-full outline-none text-dark-blue text-sm font-semibold placeholder:text-[14px] placeholder:font-semibold placeholder:tracking-[0.25px]"
              />
              <ErrorIcon v-if="Object.keys(errors).length !== 0" class=""/>
            </div>
              <ErrorMessage
                :name="field.name"
                class="text-xs mt-1 text-red text-end italic font-medium"
              />
            </div>
            <button
              class="h-14  rounded-[5px] bg-green btn flex justify-center items-center text-white uppercase font-semibold hover:bg-[#77E2B3] disabled:cursor-not-allowed"
              :disabled="Object.keys(errors).length !== 0"
            >
              Claim your free trial
            </button>
            <p class=" pl-3 text-[11px] text-grayish-blue font-medium leading-[21px]"> By clicking the button, you are agreeing to our <a href="#" class="text-red font-bold"> Terms and Services </a></p>
          </VeeForm>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.card {
  background-image: url('../assets/images/bg-intro-mobile.png');
  background-repeat: no-repeat;
}

.info {
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}
.btn {
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
}

@media (min-width: 768px) {
  .card {
    background-image: url('../assets/images/bg-intro-desktop.png');
    background-repeat: repeat;
  }
}

</style>
